<!doctype html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Listagem de Produtos</title>
</head>
<body>
    <div style="text-align: center; ">
        <h1>Lista de Produtos</h1>

        <ul>
        {% for product in product %}

            <li>{{  product }}</li>

        {% endfor %}
        </ul>
    </div>
</body>
<style>
    * {
        font-family: 'Roboto', sans-serif;
        background-color: snow
    }
    ul {
        background: #313131;
        padding: 20px;
    }
    ul li {
        background: #0000000f;
        margin: 5px;
        list-style-type: none;
    }
    ul ,li {
        border-radius: 5px;
        color: white
    }
</style>
</html>