<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <title>Cadastrar Produtos</title>
</head>
<body>

    <h1 style="text-align: center; ">Cadastrar produtos</h1>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Salvar</button>
<!--        {% if product %}-->
<!--            <a href="{% url 'url_delete' transacao.id %}">Delete</a>-->
<!--        {% endif%}-->
    </form>
</body>
<style>
     * {
        font-family: 'Roboto', sans-serif;
        background-color: snow
    }
    h1 {
        margin: 80px auto 0 auto;
    }
    label {
        color: black;
    }
    form {
        width: 500px;
        margin: 80px auto;
        text-align: center
    }
    input[type=text] {
        background-color: #ccc;
        color: black;
        border-radius: 8px;
    }
    input[type=text]:focus {
        background-color: snow;
    }
    button {
        background-color: white;
        color: black;
        border: 1px solid grey;
        border-radius: 8px;
        box-shadow: 0 0 20px 14px #0000000f;
        cursor: pointer;
    }
    button:hover {
        box-shadow: 0 0 20px 4px #00000085;
        color: white;
        background-color: #313131;
        font-weight: bold;
    }
</style>
</html>